body{
    background-color: pink;
    background-image: url("yay.jpg");
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat; 
    min-height: 100vh;
}

.paraelli h1{
    position: relative;
    width: 100%;
    max-width: 250px;
    background-color: rgb(237, 122, 141);
    border-radius: 10px;
    height: auto;
    box-shadow: black 0px 0px 10px;
    text-align: center;
    margin: 0 auto;
    top: 15px;
}

.elliLoveu p{
    color: rgb(202, 89, 104);
    background-color: rgb(246, 200, 207);
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    top: 100px;
    box-shadow: black 0px 0px 10px;
    border-radius: 10px;
    padding: 10px;
}

summary{
    cursor: pointer;
    background-color: rgb(232, 223, 223);
    position: relative;
    top: 40px;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: black 0px 0px 10px;
}


/* ========================= */
/*        RESPONSIVE         */
/* ========================= */

