body{
    background-image: url('Imgs/imggalaxy.jpg');
}

.SoPrimicoLogo{
    background-color: rgb(216, 212, 212);
    width: 100%;

    display: flex;
    align-items: center;

    padding: 30px;         
    box-sizing: border-box;
    box-shadow: rgb(255, 255, 255) 2px 0 15px;

    border-radius: 10px;
    background-image: url('Imgs/starsformenulogotxt.jpg');

}


.imgLOGO img{
    width: 100%;
    max-width: 160px;
    height: auto;
    display: block;
    padding-bottom: 5px;
    height: 75px;
    border-radius: 10px;
    box-shadow: 10px;
    margin-top: -88px;
    margin-left: 10px;
    margin-bottom: 10px;
    opacity: 0.5;
}


.SoPrimicoLogo h3{
    color: white;
    font-family: Arial, sans-serif;
    margin: 0px auto;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    color: rgb(23, 147, 248);
    font-size: 20px;
    font-style: italic;
    font-size: 30px;
}

.Menu {
    width: 100%;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;         
    gap: 10px;              
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 10px;

}
.Menu button {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    box-shadow: rgb(207, 207, 207) 1px 0 10px;
    border-radius: 10px;
    flex: 1 1 120px;  
    max-width: 200px; 
}

.Menu1 details{
    background-color: rgb(0, 0, 0);
    margin-top: -8px ;
    padding-top: -8px;
    border-radius: 4px;
    gap: 10px;              
    box-shadow: rgb(0, 0, 0) 1px 0 10px;
        background-image: url('Imgs/starsformenulogotxt.jpg');


}

.Menu1 summary{
    color: rgb(248, 248, 248);
    text-shadow: rgb(0, 0, 0) 1px 0px 15px;
    text-align: center;
    background-color: rgb(22, 145, 245);
    margin-top: -8px;
    padding-top: -8px;
    border-radius: 4px;
    gap: 10px;
    font-weight: bold;
    font-style: italic;
}

/* ================= TITULO ================= */
.Level1DevTitle{
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-top: 20px;
    color: rgb(243, 195, 23);
    font-family: Arial, sans-serif;
    text-shadow: rgb(218, 167, 0) 1px 0 10px;
}

.PART1,
.PART2,
.PART3{
    width: 100%;
    max-width: 1000px;     
    margin: 40px auto;     
    
    display: flex;
    flex-direction: column; 
    justify-content: center; 

    background-color: rgb(0, 0, 0,0.5);
    box-shadow: royalblue 1.5px 0 15px;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 30px;
}
.PART1 p,
.PART2 p,
.PART3 p{
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.PART2 h2{
    color: rgb(243, 195, 23);
    font-family: Arial, sans-serif;
    text-shadow: rgb(218, 167, 0) 1px 0 10px;
    text-align: center;
}


.PART3 h2{
    color: rgb(243, 195, 23);
    font-family: Arial, sans-serif;
    text-shadow: rgb(218, 167, 0) 1px 0 10px;
    text-align: center;
}

.firstintructions{
    display: flex;
    justify-content: center; 
}

.firstintructions p{
    max-width: 800px;
    font-size: 18px;
}

.firstintructionsimg img,
.img2 img,
.imgwrthtml img,
.imgfinalinstructions img,
.PART2 img, .PART3 img{
    display: block;
    max-width: 800px;
    width: 100%;
    height: auto;
    margin: 40px auto;
    box-shadow: royalblue 1.5px 0 15px;
}

.NextInstructions{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.NextInstructions1,
.NextInstructions2{
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.writinghtml1{
    margin-top: 40px;
}

.finalinstructions1,
.V2Instructions{
    margin-top: 40px;
}

pre{
    background-color: rgb(32, 32, 32);
    color: #00ffcc;
    padding: 15px;
    border-radius: 10px;
    overflow-x: auto;
    box-shadow: black 1px 0 10px;
}

code{
    font-family: Consolas, monospace;
    font-size: 15px;
}




.PART3 video {
    border-radius: 10px;
    margin: 40px auto 0 auto; 
    display: block;           
    width: 100%;
    max-width: 1000px;
    box-shadow: royalblue 1.5px 0 15px;
}


.FINALPART {
    color: white;
    display: block;
    margin: 40px auto; 
    width: 90%;      
    max-width: 1000px; 
    box-shadow: rgb(255, 255, 255) 1.5px 0 15px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(0, 0, 0,0.5);
    font-weight: bold;
    text-shadow: black 0.5px 0 7px;
    padding: 10px;
    
    box-sizing: border-box; 
}
