body{
    background-image: url('Imgs/imggalaxy.jpg');
}

.SoPrimicoLogo{
    background-color: rgb(216, 212, 212);
    width: 100%;

    display: flex;
    align-items: center;

    padding: 30px;         
    box-sizing: border-box;
    box-shadow: rgb(255, 255, 255) 2px 0 15px;

    border-radius: 10px;
    background-image: url('Imgs/starsformenulogotxt.jpg');

}


.imgLOGO img{
    width: 100%;
    max-width: 160px;
    height: auto;
    display: block;
    padding-bottom: 5px;
    height: 75px;
    border-radius: 10px;
    box-shadow: 10px;
    margin-top: -88px;
    margin-left: 10px;
    margin-bottom: 10px;
    opacity: 0.5;
}


.SoPrimicoLogo h3{
    color: white;
    font-family: Arial, sans-serif;
    margin: 0px auto;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    color: rgb(23, 147, 248);
    font-size: 20px;
    font-style: italic;
    font-size: 30px;
}

.Menu {
    width: 100%;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;         
    gap: 10px;              
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 10px;

}
.Menu button {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    box-shadow: rgb(207, 207, 207) 1px 0 10px;
    border-radius: 10px;
    flex: 1 1 120px;  
    max-width: 200px; 
}

.Menu1 details{
    background-color: rgb(0, 0, 0);
    margin-top: -8px ;
    padding-top: -8px;
    border-radius: 4px;
    gap: 10px;              
    box-shadow: rgb(0, 0, 0) 1px 0 10px;
        background-image: url('Imgs/starsformenulogotxt.jpg');


}

.Menu1 summary{
    color: rgb(248, 248, 248);
    text-shadow: rgb(0, 0, 0) 1px 0px 15px;
    text-align: center;
    background-color: rgb(22, 145, 245);
    margin-top: -8px;
    padding-top: -8px;
    border-radius: 4px;
    gap: 10px;
    font-weight: bold;
    font-style: italic;
}

.ServicesTitle{
    color: rgb(137, 161, 255);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 15px;

}

.ServicesTitle h1{
    text-shadow: rgb(0, 0, 0) 1px 0px 3px;
}

.robloxContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.robloxServices,
.robloxServices2,
.robloxServices3 {
    background-color: rgb(0, 0, 0);
    width: 300px;
    margin: 20px 0;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: rgb(0, 0, 0) 1.5px 0 15px;
    border-radius: 20px;
    text-align: center;
    box-shadow: rgb(255, 255, 255) 1px 0 10px;
    display: flex;           
    flex-direction: column;  
    justify-content: flex-start;  
    min-height: 450px;        
}

.robloxServices img,
.robloxServices2 img,
.robloxServices3 img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
    box-shadow: rgb(255, 255, 255) 0px 0 15px;
}

.robloxServices h2,
.robloxServices2 h2,
.robloxServices3 h2,
.robloxServices p,
.robloxServices2 p,
.robloxServices3 p{
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 100;
}

.robloxServices button,
.robloxServices2 button,
.robloxServices3 button{
    background-color: rgb(12, 12, 12);
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    margin-top: auto; 
    cursor: pointer;
    box-shadow: rgb(255, 255, 255) 0px 0 15px;
    border-radius: 10px;
    font-weight: bold;

}

.TipoROBLOX h1{
    color: rgb(255, 0, 0);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.TipoWebVEnta h1{
    color: rgb(0, 153, 255);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.webservices2,
.webservices1 {
    background-color: rgb(0, 0, 0);
    width: 300px;
    margin: 20px 0;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: rgb(0, 0, 0) 1.5px 0 15px;
    border-radius: 20px;
    text-align: center;
    box-shadow: rgb(255, 255, 255) 0px 0 15px;
    display: flex;
    flex-direction: column;
    min-height: 450px;
}
.webservices2 button,
.webservices1 button {
    background-color: rgb(12, 12, 12);
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    margin-top: auto; /* 🔥 ESTO lo fija abajo */
    cursor: pointer;
    box-shadow: rgb(255, 255, 255) 0px 0 15px;
    border-radius: 10px;
    font-weight: bold;
}
.webservices2 h2,
.webservices2 p,
.webservices1 h2,
.webservices1 p {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 100;
}

.webservices1 img,
.webservices2 img{
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
    box-shadow: rgb(255, 255, 255) 0px 0 15px;
}

.webContainer {
    display: flex;
    justify-content: center; /*recordar que aquest posa al mitj tot lo de la venta de web*/
    gap: 20px;
    flex-wrap: wrap;
}