body{
    margin: 0 0;
    padding: 0 0;
    background-color: #1b1b24;
}


.imglogo{
    text-align: left;
}

.imglogo img{
    width: 100%;
    max-width: 100px;
    height: auto;
    position: relative; 
    top: -15px;
    left: 15px
}
/*justify-content: flex-end;
    flex: 1; ESTO ES PARA PONER A LA IZQUIERDA*/
.navebar{
    align-items: center;
    display: flex;
    gap: 20px;
    position: relative;
    justify-content: flex-end;
    flex: 1;
    margin-right: 20px;
    background-color: #000000;
}
header{
    background-color: #1b1b24;
    height: 50px;
    display: flex;
    gap: 20px;
}