body{
    background-color: rgb(54, 54, 54);
}

.SoPrimicoLogo{
    background-color: rgb(32, 32, 32);
    width: 100%;

    display: flex;
    align-items: center;

    padding: 10px;         
    box-sizing: border-box;
    box-shadow: rgb(0, 0, 0) 1.5px 0 15px;

    border-radius: 20px;
}


.SoPrimicoLogo img{
    width: 60px;
    height: auto;
    display: block;
}


.SoPrimicoLogo h3{
    color: white;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    text-align: center;
    text-shadow: yellow 1px 0 10px;
    color: rgb(224, 224, 49);
    font-size: 20px;
}
.bought h2{
    color: rgb(255, 251, 0);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: yellow 0px 0px 10px;
    background-color: rgb(32, 32, 32);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: rgb(0, 0, 0) 1.5px 0 15px;
    box-sizing: border-box;
}
.bought{
    width: 50%;
    margin: 0 auto;
}

.boughtinfo{
    width: 50%;
    margin: 20px auto;
    background-color: rgb(32, 32, 32);
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0) 1.5px 0 15px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.boughtinfo p{
    font-size: 16px;
    margin-bottom: 20px;
}
.boughtinfo button{
    background-color: rgb(54, 54, 54);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: rgb(48, 48, 48) 1.5px 0 7px;
}
