body{
    background-color: rgb(54, 54, 54);
}

.SoPrimicoLogo{
    background-color: rgb(32, 32, 32);
    width: 100%;

    display: flex;
    align-items: center;

    padding: 30px;         
    box-sizing: border-box;
    box-shadow: rgb(0, 0, 0) 1.5px 0 15px;

    border-radius: 10px;
}


.imgLOGO img{
    width: 160px;
    height: auto;
    display: block;
    padding-bottom: 5px;
    height: 75px;
    border-radius: 10px;
    box-shadow: 10px;
    margin-top: -88px;
    margin-left: 10px;
    margin-bottom: 10px;
}


.SoPrimicoLogo h3{
    color: white;
    font-family: Arial, sans-serif;
    margin: 0px auto;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    color: rgb(23, 147, 248);
    font-size: 20px;
    font-style: italic;
    font-size: 30px;
}

.Menu {
    width: 100%;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;         
    gap: 10px;              
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 10px;
}
.Menu button {
    background-color: rgb(32, 32, 32);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    box-shadow: rgb(0, 0, 0) 1px 0 10px;
    border-radius: 10px;
    flex: 1 1 120px;  
    max-width: 200px; 
}

.Menu1 details{
    background-color: rgb(32, 32, 32);
    margin-top: -8px ;
    padding-top: -8px;
    border-radius: 4px;
    gap: 10px;              
    box-shadow: rgb(0, 0, 0) 1px 0 2px;
    background-image: url('Imgs/BeeSwarm.png');

}

.Menu1 summary{
    color: rgb(248, 248, 248);
    text-shadow: rgb(0, 0, 0) 1px 0px 15px;
    text-align: center;
    background-color: rgb(22, 145, 245);
    margin-top: -8px;
    padding-top: -8px;
    border-radius: 6px;
    gap: 10px;
    font-weight: bold;
    font-style: italic;
}